<!DOCTYPE html>
<head>
  <title>HAL19</title>
  <meta charset="utf-8" />
  <link rel="icon" href="../static/img/halFavicon.png" />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/index.css') }}"
  />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</head>
<body>
  <div id="whole">
    <header>
      <img id="title" src="../static/img/hal2019.png" alt="HAL 2019 Face Detector"></img>
    </header>
    <main id="container">
      <div id="live">
        <h1>LIVE</h1>
        <img id="frame" src="{{ url_for('video') }}" width="100%" />
        <p id="dscr">0 faces have been detected.</p>
      </div>
      <div id="records">
        <h1>RECORDS</h1>
        <div id="photo"></div>
      </div>
    </main>
  </div>
</body>
